@import "tailwindcss";
body {
    background-color: rgb(0, 0, 0);
}

/* Стилі для хедера */
header {
    justify-content: space-around;
    
}

/* Стилі для контейнера зображень */
.product-image-container {
    width: 100%;
    height: 200px;
}

/* Стилі для зображення */
.product-image {
    display: block;
    width: 100%;
    height: 100%;
    transition: 0.2s ease-in-out;
}

/* Ховер для зображення */
.product-image:hover {
    scale: 1.05;
}

/* Стилі для кнопки */
.buy-btn {
    transition: ease-in-out 0.1s;
}

/* Ховер для кнопки */
.buy-btn:hover {
    background-color: rgb(221, 219, 219);
}

/* Основний макет */
main {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 72.7vh;
}

/* Анімація для корзини */
.cart-item {
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.cart-item.removing {
    opacity: 0; /* Зменшуємо прозорість */
    transform: translateX(100px) scale(0.8); /* Зсуваємо вправо та зменшуємо */
}

/* Для контента корзини */
.cart-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.total {
    position: absolute;
    right: 150px;
    top: 0px;
}

.cart-container {
    padding: 0 89px;
}

.empty-cart-text {
    position: absolute;
    top: 40%;
    left: 47%;
    font-weight: 400;
    font-size: 20px;
}